<footer class="relative z-10 border border-t-2 border-stone-500 bg-stone-800 p-4 text-center lg:text-left">
    <div class="my-4 flex justify-center">
        <a href="https://jq.qq.com/?_wv=1027&k=ZQM8d6RX" class="mr-9 text-stone-50">
            <span class="iconify" data-icon="ant-design:qq-circle-filled" data-width="22" data-height="22"></span>
        </a>
        <a href="https://github.com/KevynTang/snowcraft-website" class="text-stone-50">
            <span class="iconify" data-icon="ant-design:github-filled" data-width="22" data-height="22"></span>
        </a>
    </div>
    <div class="py-4">
        <div class="text-center text-stone-50">
            This project is mastered and led by
            <a class="font-extrabold text-white" href="https://github.com/KevynTang">KevynTang</a>
            &
            <a class="font-extrabold text-white" href="https://github.com/lkidszzzz">lkidszzzz</a>
        </div>
        <div class="text-center text-stone-50">
            © 2022 Copyright:
            <a class="font-extrabold text-white" href="/sc">Snowcraft_Official</a>
        </div>
    </div>
</footer>
