<header class="fixed z-10 h-16 w-full bg-stone-800">
    <script src="/static/scripts/anchor-jumper.js"></script>
    <div class="float-left grid h-full w-fit grid-cols-1 place-items-center px-4">
        <a href="/" class="flex space-x-3 text-xl font-bold text-white">
            <img src="/static/images/sc-icon.jpg" class="w-10 h-10 rounded-full">
            <div class="grid-cols-1 place-items-center hidden md:grid">
                雪域
            </div>
        </a>
    </div>
    <div class="float-right flex space-x-2 h-full w-fit px-4 text-lg font-bold text-white">
        <div class="h-full grid grid-cols-1 place-items-center px-2 hover:bg-stone-800">
            <a onclick="jumpById('notice')">
                <span class="bx bx-notepad"></span>
                <span class="hidden md:inline">公告</span>
            </a>
        </div>

        <div class="h-full grid grid-cols-1 place-items-center px-2 hover:bg-stone-800">
            <a href="https://play.mcmod.cn/sv20183565.html">
                <span class="bx bx-game"></span>
                <span class="hidden md:inline">介绍</span>
            </a>
        </div>

        <div class="h-full grid grid-cols-1 place-items-center px-2 hover:bg-stone-800">
            <a href="https://jq.qq.com/?_wv=1027&k=ZQM8d6RX">
                <span class="bx bx-home-heart"></span>
                <span class="hidden md:inline">加入我们</span>
            </a>
        </div>
    </div>
</header>
