{{ define "head" }}
<title>{{ .title }}</title>
{{ end }}

{{ define "content" }}
<div class="h-screen overflow-hidden bg-indigo-500">
    <div class="relative grid h-[100%] w-[100%] rotate-45 grid-cols-1 place-items-center bg-teal-500">
        <div class="w-fit -rotate-45">
            <img src="/static/images/sc-icon.jpg" class="mx-auto h-1/2 w-1/2 rounded-3xl shadow-xl mb-8" alt="">
            <div class="mt-6 mx-auto text-center text-6xl font-bold text-white">Snowcraft 雪域公益服</div>
            <div class="mt-4 mx-auto text-center text-2xl font-bold text-indigo-500">❤暑期特别周目进行中❤</div>

        </div>
    </div>
</div>
<div class="w-1/4 rounded-lg shadow-xl overflow-hidden shadow-lg bg-white bg-opacity-80">
    <img class="w-full h-auto" src="/static/images/card.jpg" alt="Minecraft">
    <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Snowcraft雪域-公告</div>
        <p class="text-gray-700 text-base">
            ① 欢迎来到雪域，从此你就是<b>雪域社区</b>的一份子了，大家可以像家人一样相处。<br>
            ② 请点击网页右上角的<b>“加入我们”</b>加入我们的qq群，以下载游戏客户端并与其它玩家进行交♂流。<br>
            ③ 你赶上了<b>⭐雪域暑期特别周目⭐</b>，在这个周目里，我们带来了全新的 1.16.5 模组服。<br>
            ④ 本周目模组主要包含了<b>虚无世界、星辉、匠魂、机械动力、阿图姆等</b>模组。<br>
            ⑤ 我们希望所有玩家都能<b>和谐共处、彼此合作、探索世界、共建辉煌</b>。这就是本服的宗旨。<br>
            ⑥ 请<b>仔细阅读群公告内容</b>，避免产生不必要的误会或违规。祝愿游戏愉快！
        </p>
    </div>
    <div class="px-6 pt-4 pb-2">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#雪域</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#公告</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Minecraft</span>
    </div>
</div>

{{ end }}